{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Player list</title>


    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css'>

    <link rel="stylesheet" href="{% static 'css/playerListCard.css' %} ">

    <link href="{% static 'css/search.css' %}" rel="stylesheet" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!--
    <link rel="apple-touch-icon" href="{% static '_team/images/apple-touch-icon.png' %}">
    <link rel="shortcut icon" type="image/ico" href="{% static '_team/images/favicon.ico' %}" />
    <!-- Plugin-CSS -->
    <!--
    <link rel="stylesheet" href="{% static '_team/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '_team/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static '_team/css/linearicons.css' %}">
    <link rel="stylesheet" href="{% static '_team/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static '_team/css/animate.css' %}">
    <!-- Main-Stylesheets -->
    <!--
    <link rel="stylesheet" href="{% static '_team/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static '_team/style.css' %}">
    <link rel="stylesheet" href="{% static '_team/css/responsive.css' %}">
    <script src="{% static '_team/js/vendor/modernizr-2.8.3.min.js' %}"></script> -->


</head>

<body>

        <div class="s130">
        <form action="{% url 'user_registration:search' %}">
            <div class="inner-form">
                <div class="input-field first-wrap">
                    <div class="svg-wrapper">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
                        </svg>
                    </div>
                    <input id="search" name="keyword" type="text" placeholder="Which player are you looking for?" />
                </div>
                <div class="input-field second-wrap">
                    <button class="btn-search" type="submit">SEARCH</button>
                </div>
            </div>
            <!-- <span class="info">ex. Game, Music, Video, Photography</span> -->
      </form>
    </div>




   <!--  <div class="preloader">
        <span><i class="lnr lnr-sun"></i></span>
    </div> -->
    <!-- MainMenu-Area -->
   <!-- <nav class="mainmenu-area" data-spy="affix" data-offset-top="200">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#primary_menu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--<a class="navbar-brand" href="#"><img src="images/logo.png" alt="Logo"></a> -->
          <!--  </div> -->
        <div class="container-fluid">
            <div class="btn-group btn-group-justified">

                    <a href="#" class="btn btn-primary">Wicketkeeper</a>
                <a href="#" class="btn btn-primary">Batsman</a>
                  <a href="#" class="btn btn-primary">Bowler</a>
                  <a href="#" class="btn btn-primary">All Rounder</a>


                </div>
        </div>

    <!--    </div>
    </nav> -->
    <!-- MainMenu-Area-End -->
    <!-- Home-Area -->



    <!-- <div class="search_bar">
        <form action="{% url 'user_registration:search' %}">
                <input type="text" class="textbox" name="keyword" placeholder="Search">
                <input title="Search" type="submit" class="button">
        </form>
    </div> -->
    <div class="container-fluid">
        {% for i in playerlist %}
        <div class="profile">
        <div class="photo"><img src="{{ i.image }}" /></div>
        <div class="content">
            <div class="text">
                <a href="{% url 'user_registration:profile' name=i.name %}">{{ i.name }}</a>
                <h6>{{ i.country }}</h6>
            </div>
            <div class="btn">
                <span></span>
            </div>
        </div>
        <!--<div class="box"><i class="fa fa-codepen"></i><i class="fa fa-facebook"></i><i class="fa fa-github"></i><i class="fa fa-tumblr"></i><i class="fa fa-twitter"></i></div>-->
    </div>
    {% endfor %}
    </div>



    <script src="{% static 'js/playerListCard.js' %}"></script>

    <script src="{% static 'js/search/extention/choices.js' %}"></script>
     <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
     <script src="{% static 'profile/js/bootstrap.min.js' %}"></script>
    <!--Vendor-JS-->
    <!--
    <script src="{% static '_team/js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static '_team/js/vendor/jquery-ui.js' %}"></script>
    <script src="{% static '_team/js/vendor/bootstrap.min.js' %}"></script>
    <!--Plugin-JS-->
    <!--
    <script src="{% static '_team/js/owl.carousel.min.js' %}"></script>
    <script src="{% static '_team/js/contact-form.js' %}"></script>
    <script src="{% static '_team/js/ajaxchimp.js' %}"></script>
    <script src="{% static '_team/js/scrollUp.min.js' %}"></script>
    <script src="j{% static '_team/js/magnific-popup.min.js' %}"></script>
    <script src="{% static '_team/js/wow.min.js' %}"></script>
    <!--Main-active-JS-->
    <!--
    <script src="{% static '_team/js/main.js' %}"></script> -->
</body>

</html>